"test v.1"
{
    "uri" "http://127.0.0.1:3000"
    "timeout" "5.0"
    "buffer"  "0.1"
    "throttle" "0.5"
    "heartbeat" "60.0"
    "auth"
    {
        "token" ""
    }
    "output"
    {
        "precision_time"     "3"
        "precision_position" "1"
        "precision_vector"   "3"
    }
    "data"
    {
        "map_round_wins"         "1"
        "map"                    "1"
        "player_id"              "1"
        "player_match_stats"     "1"
        "player_state"           "1"
        "player_weapons"         "1"
        "provider"               "1"
        "round"                  "1"
        "tournamentdraft"        "1"

        # Must be spectating or observing
        "allgrenades"            "1"
        "allplayers_id"          "1"
        "allplayers_match_stats" "1"
        "allplayers_position"    "1"
        "allplayers_state"       "1"
        "allplayers_weapons"     "1"
        "bomb"                   "1"
        "phase_countdowns"       "1"
        "player_position"        "1"
    }
}


# Game State Integration
# uri: Game will be making POST requests to this uri. If the endpoint needs traffic to be encrypted in flight then it is recommended to specify a secure uri and use SSL on the service end. Steam client will automatically use SSL and validate endpoint certificate for https destinations.
# timeout: Game expects an HTTP 2XX response code from its HTTP POST request, and game will not attempt submitting the next HTTP POST request while a previous request is still in flight. The game will consider the request as timed out if a response is not received within so many seconds, and will re-heartbeat next time with full state omitting any delta-computation. If the setting is not specified then default short timeout of 1.1 sec will be used.
# Note:
# If your endpoint is never receiving JSON payload blocks named "previously" or "added" then this may be an indication that the game client is never getting HTTP 2XX response and always considers the request as failed.
# buffer: Because multiple game events tend to occur one after another very quickly, it is recommended to specify a non-zero buffer. When buffering is enabled, the game will collect events for so many seconds to report a bigger delta. For localhost service integration this is less of an issue and can be tuned to match the needs of the service or set to 0.0 to disable buffering completely. If the setting is not specified then default buffer of 0.1 sec will be used.
# throttle: For high-traffic endpoints this setting will make the game client not send another request for at least this many seconds after receiving previous HTTP 2XX response to avoid notifying the service when game state changes too frequently. If the setting is not specified then default throttle of 1.0 sec will be used.
# heartbeat: Even if no game state change occurs, this setting instructs the game to send a request so many seconds after receiving previous HTTP 2XX response. The service can be configured to consider game as offline or disconnected if it didn't get a notification for a significant period of time exceeding the heartbeat interval.

# "precision_time" controls all duration information (e.g. countdown, lifetime, effecttime, etc.)
# "precision_position" controls all position information (e.g. position of players, grenades, etc.)
# "precision_vector" controls all vector information (e.g. velocity, forward vectors, etc.)

# Game State Components
# All game state is separated into independent blocks that the service can be independently subscribed to. For example a service providing haptic feedback for every bullet fired might be interested in getting the "player_weapons" payload and any changes in weapons and ammo data, while a service annotating a video stream might only subscribe to the "map" component to keep track of the map name and round wins scored.
# When developing your service it is recommended to use the sample console program provided below to output the JSON payload sent by the game and eliminate unnecessary components that aren't needed for the service operation.
# When any data of a reported component changes, the game client will start the buffer timer, and after it elapses, or immediately if buffering is disabled, will report the new full game state, and delta states computed from payload with last successful HTTP 2XX response from the endpoint. For data that changed from the previous report a global block "previously" will contain old state of the changed game state, whereas for new data a global block "added" will contain the root JSON fields that are present in the new game state, but were absent in the old game state.


